@media (max-width:1300px) {
    h1 a {
        left: 50px;
        top: 15px;
        width: 90px;
    }

    section {
        padding: 70px 50px;
    }

    nav ul {
        padding: 15px 0;
    }

    #intro_page {
        box-sizing: border-box;
        margin-bottom: 50px;
        height: 100vh;
    }

    #frame {
        display: block;
    }

    .intro_text {
        position: absolute;
        width: auto;
        padding: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -75%);
    }

    .intro_text p:first-child {
        line-height: 50px;
        text-align: center;
    }

    .intro_text p:first-child span {
        font-size: 80px
    }

    .slide_container {
        margin-top: 0;
        justify-content: center;
    }

    .bg_frame {
        width: 100%;
    }

    .intro_bg {
        top: 50%;
        transform: translate(-50%, -60%);
    }

    .intro_boy {
        width: 200px;
        top: 60%
    }

    .intro_girl {
        left: 5%;
        top: 67%
    }

    /* 인트로용 이미지 */
    .intro_bg>div {
        width: 15%;
        height: 15%;
        top: 75%;
    }

    .intro_bg>div:nth-of-type(2) {
        top: 75%;
        width: 16%;
        height: 16%;
    }

    .intro_bg>div:nth-of-type(4) {
        top: 5%;
        left: 0%;
    }

    .intro_bg>div:nth-of-type(5) {
        top: 5%;
        left: 50%;
        width: 5%;
        height: 5%;
    }

    .intro_bg>div:nth-of-type(6) {
        top: 10%;
        left: 65%;
        width: 10%;
        height: 10%;
    }

    .intro_bg>div:nth-of-type(7) {
        top: 50%;
        left: 85%;
        width: 10%;
        height: 10%;
    }

    .intro_bg>div:nth-of-type(8) {
        width: 5%;
        height: 5%;
        top: 65%;
        left: -4%;
    }

    .intro_bg>div:nth-of-type(9) {
        width: 7%;
        height: 7%;
        left: 90%;
        top: 25%
    }

    .intro_bg>div:nth-of-type(12) {
        width: 7%;
        height: 7%;
        left: 25%;
        top: 5%
    }

    .about_profile {
        padding: 0;
    }

    .about_box {
        margin-top: 0px;
        display: block;
        gap: 50px;
    }

    .about_box div {
        width: 100%;
    }

    .about_history ul,
    .about_skill ul {
        padding: 0;
    }

    .pt_design {
        padding: 0 50px;
    }

    #pt_page {
        padding: 70px 0;
    }

    #pt_page h3:not(:nth-of-type(3)) {
        margin-bottom: 20px;
    }

    .pt_popup {
        padding: 10px 20px;
        width: 75%;
        flex-direction: column;
    }

    .pt_design a {
        width: 100%;
        height: 50%;
    }

    .pt_popup>div {
        width: 100%;
        padding: 0;
    }

    #close {
        left: 82%;
    }

    .cont_frame {
        gap: 50px;
    }

    #send_complete {
        height: 20%
    }

}

@media (max-width:975px) {
    nav {
        display: none;
    }

    .menu {
        display: block;
    }

    nav ul {
        flex-direction: column;
        width: 20%;
        height: 100vh;
        right: 0;
        justify-content: flex-start;
        padding: 100px 0 0;
        gap: 30px;
        align-items: center;
    }

    #menu_button {
        color: var(--Blue1);
        display: block;
        position: fixed;
        z-index: 10;
        font-size: 30px;
        background: transparent;
        border: transparent;
        right: 50px;
        top: 15px;
        cursor: pointer;
        transition: ease all .3s;
    }

    #menu_button:hover {
        color: var(--Blue2)
    }

    #close_menu {
        color: var(--Blue1);
        position: fixed;
        z-index: 100;
        font-size: 30px;
        background: transparent;
        border: transparent;
        right: 50px;
        top: 15px;
        cursor: pointer;
        transition: ease all .3s;
    }

    #close_menu:hover {
        color: var(--Blue2);
    }

    .intro_text {
        top: 40%;
        transform: translate(-50%, -50%);
    }

    #intro_page {
        padding: 0px;
        margin-bottom: 15px;
    }

    .intro_bg {
        top: 40%;
        width: 80%;
        transform: translate(-50%, -50%);
    }


    section {
        padding: 25px;
    }

    #about_page h2,
    #pt_page h2 span {
        color: var(--Blue1);
        margin-bottom: 30px;
        border: transparent;
    }

    .about_profile {
        gap: 50px;
        margin-bottom: 25px;
    }

    #about_page img {
        width: 200px;
        height: 250px;
    }

    .about_box h3 {
        border: transparent;
        margin-bottom: 25px;
        padding: 0;
    }

    #pt_page {
        padding: 25px 0;
    }

    .pt_frame {
        height: 420px;
    }

    .pt_frame ul {
        gap: 90px;
    }

    .pt_frame li {
        width: 600px;
        height: 350px;
        padding: 40px 0 0;
    }

    #web_bt,
    #video_bt {
        width: 750px;
        height: 350px;
    }

    .pt_design {
        padding: 0;
        grid-template-columns: repeat(auto-fill, minmax(200px, auto));
        gap: 30px
    }

    .pt_design li {
        width: 200px;
        height: 200px;
    }

    #cont_page h2 {
        color: var(--Blue1);
        padding-top: 25px;
        margin-bottom: 50px;
    }

    .cont_frame {
        flex-direction: column;
    }

    .cont_frame>div,
    .cont_area {
        width: 100%;
    }

    #send_complete {
        width: 50%;
    }

}

@media (max-width:767px) {
    h1 a {
        position: absolute;
        width: 70px;
        left: 50%;
        transform: translate(-50%);
    }

    #menu_button {
        display: none;
    }

    nav {
        display: block;
    }

    nav ul {
        flex-direction: row;
        height: 10vh;
        width: 100%;
        padding: 0px;
        bottom: 0;
        justify-content: center;
        gap: 15vw;
    }

    nav ul li {
        width: auto;
    }

    .menu_text {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -1.5vh);
        text-shadow: -1px 0 white, 1px 0 white, 0 1px white, 0 -1px white;
    }

    .main_menu .fa {
        display: block;
        font-size: 25px;
        color: var(--Blue2);
        transition: ease all .3s;
    }

    nav ul li a {
        font-size: 16px;
        font-weight: 500;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        transition: ease all .3s;
    }

    nav ul li.here a {
        font-weight: bold;
    }

    nav ul li.here .fa {
        color: var(--Blue1)
    }

    nav ul li a::after {
        display: none;
    }

    .intro_text {
        width: 100%;
        top: 37vh;
    }

    .intro_text p:first-child {
        font-size: 6vw;
        line-height: normal;
        margin-bottom: 0;
    }

    .intro_text p:first-child span {
        font-size: 10vw;
    }

    .intro_text p:last-child {
        font-size: 20px;
        text-indent: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 250%);
        text-align: center;
    }

    .slide_container {
        align-items: center;
    }

    .slide_text {
        font-size: 20px;
        width: 70px;
        height: 30px;
    }

    .slide_text span {
        animation: slide_ani2 8s infinite;
        top: -5px;
    }

    #intro_page {
        height: 90vh;
    }

    .intro_bg {
        background: none;
    }

    .intro_girl {
        display: none;
    }

    .intro_boy {
        display: none;
    }

    .about_profile {
        flex-direction: column;
        align-items: center;
    }

    #about_page h2,
    #pt_page h2 span {
        font-size: 30px;
    }

    #about_page img {
        width: 250px;
        height: 350px;
    }

    .about_profile>div:nth-child(2) {
        width: auto
    }

    .about_profile>div:nth-child(2) p {
        text-align: center;
    }

    .about_profile>div:nth-child(2) strong {
        font-size: 32px;
    }

    .about_profile>div:nth-child(2) p:not(:first-child) {
        font-size: 15px;
        word-break: keep-all;
    }

    .about_box h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .about_box li {
        font-size: 16px;
    }

    .about_box ul {
        padding: 0 25px;
    }

    .about_history ul {
        margin-bottom: 25px;
    }

    .about_history li,
    .about_skill li {
        gap: 20px;
        margin-bottom: 13px;
        word-break: keep-all;
    }

    .about_skill li>span:first-child {
        width: 110px;
    }

    .skill_bar {
        height: 7px;
        flex-grow: 1;
    }

    #pt_page h2 {
        padding: 0 25px 0;
    }

    #pt_page h3 {
        font-size: 24px;
        margin-bottom: 0px;
    }

    #pt_page h3:not(:nth-of-type(3)) {
        margin-bottom: 0px;
    }

    .pt_frame {
        height: 30vh;
        margin: 0 auto 50px;
    }

    .pt_frame ul {
        gap: 40px;
    }

    .pt_frame li {
        width: 70vw;
        padding: 0;
        border-radius: 0;
        background-size: contain;
        background: none;
        box-shadow: none;
        height: auto;
    }

    .pt_frame li:hover {
        box-shadow: none;
    }

    .pt_frame li:hover p {
        font-size: 16px;
        white-space: nowrap;
        word-break: keep-all;
    }

    .pt_frame li p span {
        font-size: 14px;
        margin-top: 0;
    }

    .pt_frame li a {
        border: 1px solid rgba(0, 0, 0, 0.3)
    }

    iframe {
        display: none;
    }

    #pt_video .youtube_pic {
        display: block
    }

    #web_bt,
    #video_bt {
        width: 100%;
        display: none;
    }

    #web_bt button,
    #video_bt button {
        height: 25%;
        width: 10%;
        display: none;
    }

    .design_frame {
        height: 30vh;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .pt_design {
        display: flex;
        gap: 40px;
        position: absolute;
        justify-content: flex-start;
    }

    .pt_design li {
        width: 70vw;
        height: auto;
    }

    .pt_design li>p {
        font-size: 3vw
    }

    .pt_design li>p span {
        font-size: 2vw;
        margin-top: 0;
    }

    .pt_popup {
        flex-direction: column;
        gap: 5vh;
        width: 100%;
        height: 100vh;
    }

    .pt_design a {
        width: 100%;
        height: 50%;
    }

    .pt_popup>div {
        width: 100%;
        height: 50%;
        padding: 5px 0;
    }

    .pt_popup div>div p:first-child {
        font-size: 7vw
    }

    .pt_popup div>div p:first-child span {
        font-size: 3vw
    }

    .pt_popup>div>p:last-child {
        font-size: 4vw
    }

    .photoshop,
    .illu {
        width: 6vw;
        height: 6vw
    }

    #close {
        font-size: 8vw;
        top: 0;
        right: 0;
    }

    .cont_frame {
        gap: 20px
    }

    #cont_page h2 {
        font-size: 30px;
        margin-bottom: 20px;
        padding-top: 0;
    }

    .cont_frame div:first-child p {
        margin-bottom: 0;
        border: none;
        padding: 0;
        margin: 10px 0;
        height: auto;
    }

    .cont_frame div:first-child p span {
        font-size: 18px;
    }

    .cont_frame .cont_area {
        padding: 25px;
    }

    .form_base {
        font-size: 16px;
        height: 35px;
    }

    .cont_area .fa {
        top: 13px;
    }

    .cont_frame textarea {
        height: 150px;
        font-size: 16px;
    }

    .cont_frame input[type=submit] {
        font-size: 16px;
        height: 60px;
    }

    textarea.alert+span {
        left: 25px
    }

    #send_complete p {
        line-height: normal;
        font-size: 3vw;
    }

    footer {
        padding: 0;
        display: flex;
        justify-content: center;
        padding-top: 5vh;
        height: 170px;
    }

    footer address {
        white-space: nowrap;
        font-size: 14px
    }
}